<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Table Tennis Rankings</title>
        <meta name ="viewport" content="width=device-width, initial-scale=1">

        <link href="/table-tennis/css/style.css" rel="stylesheet">
    </head>

    <body ng-app="table-tennis" id="table-tennis">
        <div id="content">
            <div id="rankings-box" ng-controller="rankingsCtrl">
                <div class="header">Rankings</div>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Ranking</th>
                        <th>Player</th>
                    </tr>
                    <tr ng-repeat="record in records">
                        <td>
                            {{ record.index }}
                        </td>
                        <td>
                            {{ record.ranking }}
                        </td>
                        <td>
                            {{ record.display_name }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="/table-tennis/js/script.js"></script>
    </body>
</html>