<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Table Tennis Rankings</title>
        <meta name ="viewport" content="width=device-width, initial-scale=1">

        <link href="/table-tennis/css/style.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
        <script src="/table-tennis/js/script.js"></script>
    </head>

    <body ng-app="table-tennis" id="table-tennis">
        <div id="header">
            
        </div>
        <div id="content">
            <div ui-view></div>
        </div>
    </body>
</html>