<div ng-controller="playerCtrl">
    <div id="content">
        <div id="player-box" class="content-box">
            <div class="header">{{ heading }}</div>
            <div class="details-box">
                <div class="detail-block">
                    <div class="detail-text">
                        <span class="dull">Ranking:</span> {{ ranking }}
                    </div>
                </div>
                <div class="detail-block">
                    <div class="detail-text">
                        <span class="dull">Nickname:</span> {{ nickname }}
                    </div>
                </div>
                <div class="detail-block">
                    <div class="detail-text">
                        <span class="dull">Games Played:</span> {{ games_played }}
                    </div>
                </div>
                <div class="detail-block">
                    <div class="detail-text">
                        <span class="dull">Ranking Accuracy:</span> {{ accuracy }}%
                    </div>
                </div>
                <div class="detail-block">
                    <div class="detail-text">
                        <span class="dull">Marks Farmed:</span> {{ marks_farmed }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="match-history"></div>