<div ng-controller="matchHistoryCtrl">
    <div id="content">
        <div id="match-history-box" class="content-box">
            <div class="header">{{ heading }}</div>
            <div class="table-box">
                <div class="table">
                    <div class="table-row column-headings">
                        <div class="table-cell winner-points"></div>
                        <div class="table-cell winner">Winner</div>
                        <div class="table-cell score">Score</div>
                        <div class="table-cell loser">Loser</div>
                        <div class="table-cell loser-points"></div>
                        <div class="table-cell date">Date</div>
                    </div>
                    <div class="table-row column-values" ng-repeat="match in matches">
                        <div class="table-cell winner-points">
                            {{ match.winner_points }}
                        </div>
                        <a class="table-cell winner" href="#/player/{{ match.winner_username }}">
                            {{ match.winner }}
                        </a>
                        <div class="table-cell score">
                            {{ match.score }}
                        </div>
                        <a class="table-cell loser" href="#/player/{{ match.loser_username }}">
                            {{ match.loser }}
                        </a>
                        <div class="table-cell loser-points">
                            {{ match.loser_points }}
                        </div>
                        <div class="table-cell date dull">
                            {{ match.date | date:"HH:mm 'on' dd/MM/yyyy" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>