<div id="match-history-box" class="content-box" ng-controller="matchHistoryCtrl">
    <div class="header">Match History</div>
    <div class="table-box">
        <table>
            <tr class="column-headings">
                <th></th>
                <th>Winner</th>
                <th>Score</th>
                <th>Loser</th>
                <th></th>
                <th>Date</th>
            </tr>
            <tr class="column-values" ng-repeat="match in matches">
                <td>
                    {{ match.winner_points }}
                </td>
                <td>
                    {{ match.winner }}
                </td>
                <td>
                    {{ match.score }}
                </td>
                <td>
                    {{ match.loser }}
                </td>
                <td>
                    {{ match.loser_points }}
                </td>
                <td>
                    {{ match.date | date:"HH:mm 'on' dd/MM/yyyy" }}
                </td>
            </tr>
        </table>
    </div>
</div>