<div ng-controller="rankingsCtrl">
    <div id="content">
        <div id="rankings-box" class="content-box">
            <div class="header">{{ heading }}</div>
            <div class="table-box">
                <div class="table">
                    <div class="table-row column-headings">
                        <div class="table-cell">#</div>
                        <div class="table-cell">Rank</div>
                        <div class="table-cell">Player</div>
                    </div>
                    <a class="table-row column-values" ng-repeat="player in players" href="#/player/{{ player.username }}">
                        <div class="table-cell dull">
                            {{ player.index }}
                        </div>
                        <div class="table-cell">
                            {{ player.ranking }}
                        </div>
                        <div class="table-cell">
                            {{ player.display_name }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>