<div id="rankings-box" class="content-box" ng-controller="rankingsCtrl">
    <div class="header">Rankings</div>
    <div class="table-box">
        <table>
            <tr class="column-headings">
                <th>#</th>
                <th>Ranking</th>
                <th>Player</th>
            </tr>
            <tr class="column-values" ng-repeat="player in players">
                <td>
                    {{ player.index }}
                </td>
                <td>
                    {{ player.ranking }}
                </td>
                <td>
                    <a href="match-history/{{ player.username }}">
                        {{ player.display_name }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>