body {
    background-color: #fff;
    margin: 0px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr, th, td {
    border-top: 1px solid #aac;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

#content {
    padding: 20px;
}
#rankings-box {
    max-width: 720px;
}
#match-history-box {
    max-width: 1080px;
}

.header {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #334;
    color: #fff;
}
.table-box {
    position: relative;
    margin: auto;
    border-collapse: collapse;
    color: #334;
 }
.column-values:hover {
    background-color: #cef;
}