body {
    margin: 0px;
    font-family: Verdana;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    font-size: 11pt;
}
th, td {
    padding: 10px;
}
th {
    text-align: left;
    font-weight: normal;
}

#header {
    height: 50px;
    background-color: #333;
    background: linear-gradient(to right, #333 , #222);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#content {
    padding: 20px;
}
#rankings-box {
    max-width: 1024px;
}
#match-history-box {
    max-width: 1024px;
}

.content-box {
    overflow: hidden;
    position: relative;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.header {
    font-size: 12pt;
    padding: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    background: linear-gradient(to right, #333 , #222);
}
.table-box {
    color: #333;
    background-color: #fff;
 }
.column-headings {
    background-color: #f5f5f5;
}
.column-values:hover {
    background-color: #dfc;
}